:root {
  --color1: #15255d;
  --color2: #38efc3;
}

.footer{
  padding: 5rem;
  background:linear-gradient(90deg, #15255D 0%, #040818 100%);
  color: #fff ;
}
.footer ul{
  list-style: none;
}
.footer ul li{
  margin-bottom: 1rem;
}
.footer ul li a:hover{
  color: var(--color2) !important;
}
.footer ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.top-footer h4{
text-transform: uppercase;
margin-bottom: 20px;
}

.bottom-footer{
  /* display: flex; */
  
  margin-top: 100px;
}
.brand-name{
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 900;
}
.footer a{
  color: #fff;
  transition: .3s linear;
}
.footer a:hover{
  color: var(--color2);
}
.policy{
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.policy li{
  margin-bottom: 2rem;
}
.contact-media{
  display: flex;
  flex-direction: column;
}

.contact-media a{
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
.contact-media p{
  font-size: 16px;
}


@media screen and (min-width:990px){
  .bottom-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 100px;
  }
  .brand-name{
    margin-bottom: 0;
  }
  .policy{
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
  }
  .policy li{
    margin-right: 20px;
  }
  .contact-media{
    display: flex;
    flex-direction: column;
  }
}