$color1: #15255d;
$color2: #38efc3;

.modalContent{
    background-color: transparent;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .wrapper{
        background-color: #fff;
        width: 500px;
        max-width: 80vw;
        animation: drop .5s linear;
        padding: 20px;
        position: relative;
        border-radius: 3px;
    }
}

@keyframes drop{
    from{
        transform: translateY(-1000px);
    }
    to{
        transform: translateY(0px);
    }
}