$primaryColor: #1fc881;
$secondaryColor: #0a0362;

.title{
    background: linear-gradient(90deg, #15255D 0%, #040818 100%);;
    padding: 20px;
    border-radius: 3px;
    margin: 20px 0;
    h4{
        font-size: 22px;
        color: #fff;
    }
}