:root {
    --color1: #15255d;
    --color2: #38efc3;
  }

.get-started{
    padding-top: 100px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.get-started h3{
    max-width: 1000px;
    line-height: 49px;
}