@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
*{
  padding: 0;
  margin: 0;
}

html{
  /* font-size: 10px; */
}


body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cursor-p{
  cursor: pointer !important;
}

.theme-yellow{
  border:2px solid rgb(255, 238, 0);
  background-color: rgba(248, 233, 16, 0.1);
}
.theme-red{
  border:2px solid rgba(255, 0, 0, 0.925);
  background-color: rgba(248, 16, 16, 0.1);
}
.theme-green{
  border:2px solid rgb(123, 255, 0);
  background-color: rgba(16, 248, 28, 0.1);
}
.theme-green,.theme-red,.theme-yellow{
  width: 150px;
  display: flex;
  justify-content: center;
  border-radius: 3px;
}
.btn-theme{
  background-color: #15255d !important;
  color: #fff !important;
}